<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="https://montego-career-website.montego-arch.repl.co/" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a target=_"blank" href="https://www.udemy.com/courses/it-and-software/" class="nav-link px-2 text-body-secondary">Courses</a></li>
      <li class="nav-item"><a target="_blank" href="https://www.udemy.com/teaching/?ref=teach_header" class="nav-link px-2 text-body-secondary">Events</a></li>
      <li class="nav-item"><a target="_blank" href="https://about.udemy.com/?locale=en-us" class="nav-link px-2 text-body-secondary">FAQs</a></li>
      <li class="nav-item"><a target=_"blank" href="https://www.udemy.com/courses/development/web-development/" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
    <p class="text-center text-body-secondary">&copy; 2023 Montego, Inc</p>
  </footer>
</div>